ASG EPSV 5_webversion.html.venv/

# ignore virtuan enviroment
.venv/

# Ignore all files inside the final_reports directory
final_reports/

# But don't ignore non-HTML files in final_reports and plots
!final_reports/*
final_reports/*.html
final_reports/plots

# ignore temp processed data
final_processed_data/

# ignore temp narrative templates
narrative_templates/
!narrative_templates/*
narrative_templates/*.html

# allow the excel_books directory
!excel_books/
# ignore all files inside the excel_books directory
excel_books/*
# Allow narratives_tables.xlsx
!excel_books/narratives_tables.xlsx
!excel_books/20250226_overrides_backfiller.csv

# ignore txt_files directory
txt_files/

# Python bytecode files 
*.pyc
__pycache__/

# ignore delte_html_tester.html
delete_html_tester.html

# Log files
*.log


# ignore the explore_data.ipynb file
explore_data.ipynb