/* style.css */
.flowchart {
    position: relative;
    width: 100%;
    height: 100%;
}

.flowchart .flowchart-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */ }

.nodes {
    display: flex;
    flex-direction: row; /* Changed from column to row */
    align-items: center;
}

.branch-horizontal, .sub-branch-horizontal {
    display: flex;
    flex-direction: column; /* Changed to column for vertical layout */
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px; /* Adjust spacing between branches */
}

.node {
    padding: 10px;
    background-color: #fff;
    margin: 10px 0; /* Adjust margins */
    position: relative;
    font-family: Arial, sans-serif;
    text-align: center; /*align text center*/
    /* limit max width of the nodes */
    max-width: 130px;
    
}

/*id styling */
#n10000 {
    background-color: #dddbdb;
    /*add more padding 10 top 11 bottom 5 left and right */
    padding: 20px 5px 20px 5px;
    max-width: 200px;
}
/* Styling for Level 1 */
#n11000 {
    color: white;
    background-color: #40a13e;
} 
#n12000 {
    background-color: #dddbdb;
}
/* Styling for Level 2 */
#n11100 {
    background-color: #104f10;
    color: white;
}
#n11200 {
    background-color: #8cb88c;
}
/* Styling for Level 3 */
#n11110, #n11120 {
    background-color: #028d02;
}
#n11120 {
    background-color: #6495ed;
}